@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--tile-size: 90px;
	/* 102 */
	--light-tile: #ecd4b1;
	--dark-tile: #b68565;

	--black: #000;
	--white: #fff;
}

@layer components {
	.tile--light {
		@apply bg-light relative;
	}
	.tile--dark {
		@apply bg-dark relative;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-ubuntu);
}
