@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--tile-size: 90px;
	/* 102 */
	--light-tile: #ecd4b1;
	--dark-tile: #b68565;
}

@layer components {
	.tile--light {
		@apply bg-light relative;
	}
	.tile--dark {
		@apply bg-dark relative;
	}

	/* .hint::after {
		@apply block absolute left-1/2 top-1/2 pointer-events-none rounded-full;
		content: '';
		background-color: rgba(0, 0, 0, 0.14);
		transform: translate(-50%, -50%);
		height: calc(0.3 * var(--tile-size));
		width: calc(0.3 * var(--tile-size));
	} */

	/* .attacking::after {
		@apply block absolute left-1/2 top-1/2 pointer-events-none rounded-full border-solid;
		content: '';
		border: 8px solid rgba(0, 0, 0, 0.14);
		transform: translate(-50%, -50%);
		height: var(--tile-size);
		width: var(--tile-size);
	} */
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-ubuntu);
}
